{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true,
        "amd": true,
        "node": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "spread": true,
        "templateStrings": true,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "arrow-body-style": [1],
        "arrow-parens": [1, "as-needed"],
        "arrow-spacing": [1],
        "brace-style": [1, "1tbs", { "allowSingleLine": true }],
        "consistent-return": [0],
        "dot-notation": [1],
        "eqeqeq": [1],
        "key-spacing": [0],
        "quotes": [0],
        "max-len": [1, 90],
        "no-array-constructor": [1],
        "no-loop-func": [1],
        "no-multi-spaces": [0],
        "no-shadow": [1],
        "no-unused-vars": [1],
        "no-use-before-define": [2, "nofunc"],
        "no-const-assign": [1],
        "no-var": [2],
        "no-new-object": [1],
        "no-param-reassign": [2],
        "object-shorthand": [1],
        "one-var": [1, "never"],
        "prefer-arrow-callback": [1],
        "prefer-const": [1],
        "prefer-template": [1],
        "quote-props": [1, "as-needed"],
        "radix": [1],
        "semi": [0],
        "space-before-keywords": [1],
        "space-infix-ops": [1],
        "space-in-parens": [1],
        "react/jsx-no-duplicate-props": 1,
        "react/jsx-no-undef": 1,
        "react/jsx-uses-react": 1,
        "react/prop-types": 1,
        "react/jsx-uses-vars": 1
    }
}
