<p>
  <span>Follow or reach out: </span>
  <a href="mailto:cr@codys.club" target="_blank" rel="nofollow noopener">
    cr@codys.club
  </a>
  &nbsp;&middot;&nbsp;
  <a href="http://medium.com/@CodyReichert" target="_blank" rel="nofollow noopener">
    Medium
  </a>
  &nbsp;&middot;&nbsp;
  <a href="https://github.com/CodyReichert" target="_blank" rel="nofollow noopener">
    GitHub
  </a>
  &nbsp;&middot;&nbsp;
  <a href="https://www.linkedin.com/in/codyreichert" target="_blank" rel="nofollow noopener">
    LinkedIn
  </a>
  &nbsp;&middot;&nbsp;
  <a href="https://twitter.com/CodyReichert" target="_blank" rel="nofollow noopener">
    Twitter
  </a>
</p>
