<div id="gr_grid_widget_1603820073">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <div class="gr_grid_container">
    <div class="gr_grid_book_container">
      <a
        title="Startup Playbook"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/27845636-startup-playbook"
        ><img
          alt="Startup Playbook"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1447762717l/27845636._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="On the Shortness of Life"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/97412.On_the_Shortness_of_Life"
        ><img
          alt="On the Shortness of Life"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1448623089l/97412._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Letters from a Stoic"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/97411.Letters_from_a_Stoic"
        ><img
          alt="Letters from a Stoic"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1421619214l/97411._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="The Histories"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/6799886-the-histories"
        ><img
          alt="The Histories"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1311645741l/6799886._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="The Emperor's Handbook: A New Translation of The Meditations"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/168294.The_Emperor_s_Handbook"
        ><img
          alt="The Emperor's Handbook: A New Translation of The Meditations"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348063081l/168294._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="The Discourses"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/99328.The_Discourses"
        ><img
          alt="The Discourses"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1520802947l/99328._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="The Prince"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/480329.The_Prince"
        ><img
          alt="The Prince"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1410229777l/480329._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Discourse on Method"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/2209395.Discourse_on_Method"
        ><img
          alt="Discourse on Method"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1265126680l/2209395._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="The Sorrows of Young Werther"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/594913.The_Sorrows_of_Young_Werther"
        ><img
          alt="The Sorrows of Young Werther"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1334963159l/594913._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="A Discourse on Inequality"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/849579.A_Discourse_on_Inequality"
        ><img
          alt="A Discourse on Inequality"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1343067124l/849579._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="The Double"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/22283216-the-double"
        ><img
          alt="The Double"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1400742170l/22283216._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Essays and Aphorisms"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/19510.Essays_and_Aphorisms"
        ><img
          alt="Essays and Aphorisms"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1525006676l/19510._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Crime and Punishment"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/29762724-crime-and-punishment"
        ><img
          alt="Crime and Punishment"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1459623980l/29762724._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Demons"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/2273242.Demons"
        ><img
          alt="Demons"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1380370226l/2273242._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Anti-Education: On the Future of Our Educational Institutions"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/25335482-anti-education"
        ><img
          alt="Anti-Education: On the Future of Our Educational Institutions"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1431975671l/25335482._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="The Brothers Karamazov"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/29762929-the-brothers-karamazov"
        ><img
          alt="The Brothers Karamazov"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1459626355l/29762929._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Thus Spoke Zarathustra"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/380285.Thus_Spoke_Zarathustra"
        ><img
          alt="Thus Spoke Zarathustra"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1399409531l/380285._SX98_.jpg"
      /></a>
    </div>
    <div class="gr_grid_book_container">
      <a
        title="Beyond Good and Evil"
        rel="nofollow"
        href="https://www.goodreads.com/book/show/24465055-beyond-good-and-evil"
        ><img
          alt="Beyond Good and Evil"
          border="0"
          src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1441396768l/24465055._SX98_.jpg"
      /></a>
    </div>
    <noscript>
      <br />
      Share <a rel="nofollow" href="/">book reviews</a> and ratings with Cody,
      and even join a <a rel="nofollow" href="/group">book club</a> on
      Goodreads.
    </noscript>
  </div>
</div>
<script
  src="https://www.goodreads.com/review/grid_widget/58914811.Cody's%20bookshelf:%20read?cover_size=medium&hide_link=true&hide_title=true&num_books=18&order=a&shelf=read&sort=date_pub&widget_id=1603820073"
  type="text/javascript"
  charset="utf-8"
></script>
