<div id="gr_grid_widget_1576022928" class="gr_widget_block">
  <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
  <h2>
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/58914811-cody-reichert?shelf=read&utm_medium=api&utm_source=grid_widget">Recently read</a>
  </h2>
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="Darkness at Noon" rel="nofollow" href="https://www.goodreads.com/book/show/30672.Darkness_at_Noon"><img alt="Darkness at Noon" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1290053535l/30672._SY160_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Stoner" rel="nofollow" href="https://www.goodreads.com/book/show/166997.Stoner"><img alt="Stoner" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320600716l/166997._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Claudius the God and His Wife Messalina (Claudius, #2)" rel="nofollow" href="https://www.goodreads.com/book/show/52251.Claudius_the_God_and_His_Wife_Messalina"><img alt="Claudius the God and His Wife Messalina" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388464559l/52251._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Deliverance" rel="nofollow" href="https://www.goodreads.com/book/show/592657.Deliverance"><img alt="Deliverance" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1334998332l/592657._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Invisible Man" rel="nofollow" href="https://www.goodreads.com/book/show/16981.Invisible_Man"><img alt="Invisible Man" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1556482805l/16981._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Catch-22" rel="nofollow" href="https://www.goodreads.com/book/show/187880.Catch_22"><img alt="Catch-22" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347348987l/187880._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Secret Agent: A Simple Tale" rel="nofollow" href="https://www.goodreads.com/book/show/1037309.The_Secret_Agent"><img alt="The Secret Agent: A Simple Tale" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328753235l/1037309._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="I, Claudius (Claudius, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/18765.I_Claudius"><img alt="I, Claudius" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388185810l/18765._SX98_.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Sorrows of Young Werther" rel="nofollow" href="https://www.goodreads.com/book/show/594913.The_Sorrows_of_Young_Werther"><img alt="The Sorrows of Young Werther" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1334963159l/594913._SX98_.jpg" /></a></div>
    <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/58914811-cody-reichert">Cody Reichert's favorite books »</a>
  <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Cody, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
  </div>
</div>

<script src="https://www.goodreads.com/review/grid_widget/58914811.Recently%20read?cover_size=small&num_books=16&hide_title=true&order=d&shelf=read&sort=date_read&widget_id=1576022928" type="text/javascript" charset="utf-8"></script>

<div class="gr_widget_block" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px;"><h3 style=""><a href="https://www.goodreads.com/user/show/58914811-cody-reichert" style="text-decoration: none;color:#aaa;font-family:georgia,serif;font-style:italic;" rel="nofollow">Cody’s quotes</a></h3><br/><div id="gr_quote_body"></div><script src="https://www.goodreads.com/quotes/widget/58914811-cody-reichert?v=2" type="text/javascript"></script><div style="text-align: right;"><a href="https://www.goodreads.com/quotes" style="color: #382110; text-decoration: none; font-size: 10px;" rel="nofollow">Goodreads Quotes</a></div></div>

<div class="gr_widget_block" id="gr_challenge_8863" style="border: 2px solid #EBE8D5; border-radius:10px; padding: 0px 7px 0px 7px; max-width:230px; min-height: 100px">
  <div id="gr_challenge_progress_body_8863" style="font-size: 12px; font-family: georgia,serif;line-height: 18px">
    <h3 style="margin: 4px 0 10px; font-weight: normal; text-align: center">
      <a style="text-decoration: none; font-family:georgia,serif;font-style:italic; font-size: 1.1em" rel="nofollow" href="https://www.goodreads.com/challenges/8863-2019-reading-challenge">2019 Reading Challenge</a>
    </h3>
        <div class="challengePic">
          <a rel="nofollow" href="https://www.goodreads.com/challenges/8863-2019-reading-challenge"><img alt="2019 Reading Challenge" style="float:left; margin-right: 10px; border: 0 none" src="https://images.gr-assets.com/challenges/1542320733p2/8863.jpg" /></a>
        </div>
      <div>
        <a rel="nofollow" href="https://www.goodreads.com/user/show/58914811-cody-reichert">Cody</a> has
             read 11 books toward
             his goal of
             25 books.
      </div>
      <div style="width: 100px; margin: 4px 5px 5px 0; float: left; border: 1px solid #382110; height: 8px; overflow: hidden; background-color: #FFF">
        <div style="width: 44%; background-color: #D7D2C4; float: left"><span style="visibility:hidden">hide</span></div>
      </div>
      <div style="font-family: arial, verdana, helvetica, sans-serif;font-size:90%">
        <a rel="nofollow" href="https://www.goodreads.com/user_challenges/15841870">11 of 25 (44%)</a>
      </div>
        <div style="text-align: right;">
          <a style="text-decoration: none; font-size: 10px;" rel="nofollow" href="https://www.goodreads.com/user_challenges/15841870">view books</a>
        </div>
  </div>
	<script src="https://www.goodreads.com/user_challenges/widget/58914811-cody-reichert?challenge_id=8863&v=2"></script>
</div>
