---
---

@import "{{ site.theme }}";

body {
    font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, serif;
}

.header#title {
    text-align: center;
}

div#content-wrapper {
  padding-top: 75px;
}

section#main-content {
  float: none;
  margin: auto;
}
